<section class='tasks'>
  <h2>Tarefas</h2>
  {{#if tasks}}
    <ul>
      {{#each tasks}}
        <li {{#if this.done}} class="done" {{/if}}>
          <div class='task-content'>
            <h3 class='task-title'>{{this.title}}</h3>
            <p class='task-description'>{{this.description}}</p>
          </div>
          <div class='task-options'>
            <form action="/tasks/done" method="post">
              <input type="hidden" name="id" value="{{this.id}}">
              <button type="submit" class="check">
                <i class='bi bi-check2'></i>
              </button>
            </form>
            <a href='/tasks/edit/{{this.id}}' class='pencil'><i
                class='bi bi-pencil'
              ></i></a>
            <form action='/tasks/delete' method='post'>
              <input type='hidden' name='id' value='{{this.id}}' />
              <button type='submit' class='x'>
                <i class='bi bi-x-lg'></i>
              </button>
            </form>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>Nenhuma tarefa encontrada!</p>
  {{/if}}

</section>