<section>
  <h2>Mais sobre o usuário: {{user.name}}</h2>
  <div class="user-view">
    <h3>Nome: {{user.name}}</h3>
    <p>Profissão: {{user.occupation}}</p>
    <p>Receber promoções: {{#if user.newsletter}} Ativado {{else}} Desativado {{/if}}</p>
    {{#if user.Addresses }}
      <h3>Endereço completo</h3>
      {{#each user.Addresses}}
        <p>Rua: {{this.street}}</p>
        <p>Numero da residẽncia: {{this.number}}</p>
        <p>Cidade: {{this.city}}</p>
      {{/each}}
    {{/if}}
    <a href="/users" class="back">Voltar</a>
    <form action="/user/delete" method="post">
      <input type="hidden" name="id" value="{{user.id}}">
      <input type="submit" value="Remover" class="back input">
    </form>
    <!--<a href="/user/delete/{{user.id}}" class="back">Remover</a>-->
    <a href="/user/edit/{{user.id}}" class="back">Editar</a>
  </div>
</section>